* {
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 40px;
    font-weight: bold;
}

h2, h5 {
    font-size: 25px;
    font-weight: bold;

}

h6 {
    
    font-size: 18px;
    font-weight: bold;

}

p {
    font-size: 18px;
    margin: 2px 0;
}

.fas {
    size: 2px;
}

body {
    background-color: #efeae4;
    min-width: 320px;
    max-width: 640px;
    margin: 0px auto;
    padding: 20px;
    font-size: 100%;
    
}

header {
    display: block;
    margin: 0 0 20px 0;
    width: 100%;
}

main {
    margin: 0 0 20px 0;
    width: 100%;
}

address {
    font-size: 35px;
    padding: 15px 20px 20px;
    color: black;
    background-color: rgb(200, 214, 226);
}

#contact {
    display: block;
    margin: 3px 0 5px 0;
}


iframe {
    border: 0;
    margin: 5px 0 0 0;
    width: 100%;
    height: 100%;
    min-height: 360px;
}


footer {
    margin: 0 0 20px 0;
    width: 100%;
}

@media only screen and (max-width: 600px) {

    body {
        background-color: #efeae4;
        min-width: 320px;
    }
}

@media only screen and (max-width: 495px) {

    iframe {
        margin: -50px 0 -50px 0;
        width: 100%;
        min-height: 360px;
    }

    .vp-center, .player, .fallback {
        height: inherit;
    }
    
    #contact {
        display: block;
        font-size: 30px;
        max-width: inherit;
    }

    .js-video {
        padding-top: 65px;
        padding-bottom: 50%;
        position: relative;
        overflow: hidden;
      }
      
      .js-video.widescreen {
        padding-bottom: 57.25%;
      }
      
      .js-video.vimeo {
        padding-top: 0;
      }
      
      .js-video embed, .js-video iframe, .js-video object, .js-video video {
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        position: absolute;
      }
}
