#relogio {
  height: 500px;
  display: block;
}

.relogio {
  display: block;
  position: absolute;
  width: 100%;
  max-width: 500px;
  height: 100%;
  max-height: 500px;
}

:root{
  --animation-speed: 0ms;
  --ease-speed: 0ms;
}

* {
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 40px;
    font-weight: bold;
}

h2, h5 {
    font-size: 25px;
    font-weight: bold;
}

h6 {
    font-size: 18px;
    font-weight: bold;
}

p {
    font-size: 18px;
    margin: 2px 0;
}

.fas {
    size: 2px;
}

body {
    background-color: #efeae4;
    min-width: 320px;
    max-width: 640px;
    margin: 0px auto;
    padding: 20px;
    font-size: 100%;
    
}

header {
    display: block;
    margin: 0 0 20px 0;
    width: 100%;
}

main {
    margin: 0 0 20px 0;
    width: 100%;
    display: flex;
    flex-direction: column;
}

address {
    font-size: 35px;
    padding: 15px 20px 20px;
    color: black;
    background-color: rgb(200, 214, 226);
}

#contact {
    display: block;
    margin: 3px 0 5px 0;
}


iframe {
    border: 0;
    margin: 5px 0 0 0;
    width: 100%;
    height: 100%;
    min-height: 360px;
}

#breakdown-box {
    display: block;
    font-size: 20px;
    font-weight: bold;
    margin: auto;
    padding: 10px 20px;
    background-color: rgb(200, 214, 226);
}

footer {
    margin: 0 0 20px 0;
    width: 100%;
}

@media only screen and (max-width: 600px) {

    body {
        background-color: #efeae4;
        min-width: 320px;
    }
}

@media only screen and (max-width: 495px) {

    iframe {
        margin: -50px 0 -50px 0;
        width: 100%;
        min-height: 360px;
    }

    .vp-center, .player, .fallback {
        height: inherit;
    }
    
    #contact {
        display: block;
        font-size: 30px;
        max-width: inherit;
    }

    .js-video {
        padding-top: 65px;
        padding-bottom: 50%;
        position: relative;
        overflow: hidden;
      }
      
      .js-video.widescreen {
        padding-bottom: 57.25%;
      }
      
      .js-video.vimeo {
        padding-top: 0;
      }
      
      .js-video embed, .js-video iframe, .js-video object, .js-video video {
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        position: absolute;
      }
}

@media only screen and (max-width: 425px) {
    
    address p {
        font-size: 18px;
    }

    #contact {
        display: block;
        font-size: 25px;
    }
}


@media only screen and (max-width: 370px) {
    
    address p {
        font-size: 15px;
    }

    #contact {
        display: block;
        font-size: 23px;
    }
}
HTML CSSResult Skip Results Iframe
EDIT ON
.ball {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  margin-top: 4rem;
  z-index: 0;
}
.ball:after {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  box-shadow: inset 0 -8px 0 0 rgba(0, 0, 0, 0.2);
  background: #6E64F0;
  z-index: 1;
}
.ball:focus {
  outline: none;
}
.ball:focus:after {
  -webkit-animation: bounce var(--animation-speed) infinite alternate;
          animation: bounce var(--animation-speed) infinite alternate;
}
@-webkit-keyframes bounce {
  from {
    transform: scale(2);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  to {
    transform: scale(0.8);
    -webkit-animation-timing-function: cubic-bezier(0, 0, 0, 1);
            animation-timing-function: cubic-bezier(0, 0, 0, 1);
  }
}
@keyframes bounce {
  from {
    transform: scale(2);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  to {
    transform: scale(0.8);
    -webkit-animation-timing-function: cubic-bezier(0, 0, 0, 1);
            animation-timing-function: cubic-bezier(0, 0, 0, 1);
  }
}
@-webkit-keyframes bounce-shadow {
  from {
    transform: scale(2.5, 2.6) translateY(-50%);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  to {
    transform: scale(0.5) translateY(0);
    -webkit-animation-timing-function: cubic-bezier(0, 0, 0, 1);
            animation-timing-function: cubic-bezier(0, 0, 0, 1);
  }
}
@keyframes bounce-shadow {
  from {
    transform: scale(2.5, 2.6) translateY(-50%);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  to {
    transform: scale(0.5) translateY(0);
    -webkit-animation-timing-function: cubic-bezier(0, 0, 0, 1);
            animation-timing-function: cubic-bezier(0, 0, 0, 1);
  }
}
.ball:focus:before {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.05);
  -webkit-animation: bounce-shadow var(--animation-speed) infinite alternate;
          animation: bounce-shadow var(--animation-speed) infinite alternate;
  z-index: -10;
}

.dogcanvas {
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 300px;
}

.dog {
  width: 100px;
  height: 100px;
  z-index: 1;
}
.dog:before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.03);
  transform: translateY(-30%) scale(1.5);
}
.dog * {
  position: absolute;
}

.dog-body {
  top: -50%;
  -webkit-animation: dog-body var(--animation-speed) ease-in-out infinite alternate;
          animation: dog-body var(--animation-speed) ease-in-out infinite alternate;
}
.dog-body:before {
  content: "";
  position: absolute;
  bottom: 90%;
  right: 50%;
  width: 90%;
  height: 90%;
  border-top-left-radius: 100%;
  border-bottom-left-radius: 10%;
  border-top-right-radius: 10%;
  background: rgba(255, 255, 255, 0.4);
  transform-origin: right bottom;
  -webkit-animation: dog-tail-blur var(--animation-speed) 33.3333333333ms ease-in-out infinite alternate both;
          animation: dog-tail-blur var(--animation-speed) 33.3333333333ms ease-in-out infinite alternate both;
}
@-webkit-keyframes dog-tail-blur {
  from {
    transform: rotate(0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  to {
    transform: rotate(90deg);
    opacity: 0;
  }
}
@keyframes dog-tail-blur {
  from {
    transform: rotate(0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  to {
    transform: rotate(90deg);
    opacity: 0;
  }
}
@-webkit-keyframes dog-body {
  from {
    transform: translateX(-10%);
  }
  to {
    transform: translateX(10%);
  }
}
@keyframes dog-body {
  from {
    transform: translateX(-10%);
  }
  to {
    transform: translateX(10%);
  }
}

.dog-head {
  -webkit-animation: dog-head var(--animation-speed) cubic-bezier(0.11, 0.79, 0, 0.99) infinite;
          animation: dog-head var(--animation-speed) cubic-bezier(0.11, 0.79, 0, 0.99) infinite;
}
@-webkit-keyframes dog-head {
  from, to {
    transform: rotate(45deg);
  }
  33.3% {
    transform: rotate(-45deg);
  }
  66.6% {
    transform: rotate(0);
  }
}
@keyframes dog-head {
  from, to {
    transform: rotate(45deg);
  }
  33.3% {
    transform: rotate(-45deg);
  }
  66.6% {
    transform: rotate(0);
  }
}

.dog-torso {
  top: -20%;
  animation: dog-torso 200ms ease-in-out infinite alternate-reverse;
}
@-webkit-keyframes dog-torso {
  from {
    transform: translateX(-5%);
  }
  to {
    transform: translateX(5%);
  }
}
@keyframes dog-torso {
  from {
    transform: translateX(-5%);
  }
  to {
    transform: translateX(5%);
  }
}

.dog-eyes {
  width: 60%;
  top: 55%;
  left: 20%;
  z-index: 1;
}
.dog-eyes:before {
  content: "";
  display: block;
  height: 40px;
  width: 40px;
  border-radius: 40px;
  position: absolute;
  background: orange;
  top: -10px;
  left: -10px;
  z-index: 0;
  border: 4px solid white;
  border-left-width: 0;
  border-bottom-width: 0;
  border-top-width: 0;
  transform: rotate(-45deg);
}

.dog-eye {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #000;
  z-index: 1;
  -webkit-animation: dog-eye 1800ms infinite;
          animation: dog-eye 1800ms infinite;
}
@-webkit-keyframes dog-eye {
  from, to {
    -webkit-animation-timing-function: step-end;
            animation-timing-function: step-end;
    opacity: 1;
  }
  50%, 55% {
    -webkit-animation-timing-function: step-start;
            animation-timing-function: step-start;
    opacity: 0;
  }
}
@keyframes dog-eye {
  from, to {
    -webkit-animation-timing-function: step-end;
            animation-timing-function: step-end;
    opacity: 1;
  }
  50%, 55% {
    -webkit-animation-timing-function: step-start;
            animation-timing-function: step-start;
    opacity: 0;
  }
}
.dog-eye:first-child {
  left: 0;
}
.dog-eye:last-child {
  right: 0;
}

.dog-muzzle {
  width: 60%;
  left: 20%;
  height: 50%;
  border-bottom-left-radius: 100%;
  border-bottom-right-radius: 100%;
  background: white;
  bottom: -15%;
}
.dog-muzzle:before, .dog-muzzle:after {
  content: "";
  display: block;
  position: absolute;
}
.dog-muzzle:before {
  width: 6px;
  height: 20px;
  bottom: 0;
  left: calc(50% - 3px);
  background: #EAEBEC;
}
.dog-muzzle:after {
  background: black;
  width: 20px;
  height: 15px;
  bottom: 12px;
  left: calc(50% - 10px);
  border-bottom-left-radius: 60% 60%;
  border-bottom-right-radius: 60% 60%;
  border-top-left-radius: 50% 40%;
  border-top-right-radius: 50% 40%;
}

.dog-tongue {
  width: 40px;
  height: 100%;
  left: calc(50% - 20px);
  z-index: -1;
  transform-origin: center top;
  -webkit-animation: dog-tongue 1800ms -50ms ease-in-out infinite;
          animation: dog-tongue 1800ms -50ms ease-in-out infinite;
}
@-webkit-keyframes dog-tongue {
  from, to {
    transform: rotate(0);
  }
  16.6666666667% {
    transform: rotate(30deg);
  }
  33.3333333333%, 66.6666666667% {
    transform: rotate(0);
  }
  50%, 83.3333333333% {
    transform: rotate(-20deg);
  }
}
@keyframes dog-tongue {
  from, to {
    transform: rotate(0);
  }
  16.6666666667% {
    transform: rotate(30deg);
  }
  33.3333333333%, 66.6666666667% {
    transform: rotate(0);
  }
  50%, 83.3333333333% {
    transform: rotate(-20deg);
  }
}
.dog-tongue:before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 40px;
  background: #FD3163;
  -webkit-animation: dog-tongue-inner 100ms ease-in-out infinite alternate;
          animation: dog-tongue-inner 100ms ease-in-out infinite alternate;
}
@-webkit-keyframes dog-tongue-inner {
  from {
    transform: translateY(5%);
  }
  to {
    transform: translateY(22%);
  }
}
@keyframes dog-tongue-inner {
  from {
    transform: translateY(5%);
  }
  to {
    transform: translateY(22%);
  }
}

.dog-ears {
  width: 40%;
  top: 25%;
  left: 30%;
  -webkit-animation: dog-ears 1800ms 100ms ease infinite;
          animation: dog-ears 1800ms 100ms ease infinite;
}
@-webkit-keyframes dog-ears {
  42.3%, 71.6% {
    transform: rotate(-5deg);
  }
  50.3%, 79.6% {
    transform: rotate(5deg);
  }
  5% {
    transform: rotate(5deg);
  }
  12% {
    transform: rotate(-5%);
  }
  from, 33.3%, 66%, to {
    transform: rotate(0);
  }
}
@keyframes dog-ears {
  42.3%, 71.6% {
    transform: rotate(-5deg);
  }
  50.3%, 79.6% {
    transform: rotate(5deg);
  }
  5% {
    transform: rotate(5deg);
  }
  12% {
    transform: rotate(-5%);
  }
  from, 33.3%, 66%, to {
    transform: rotate(0);
  }
}

.dog-ear {
  bottom: -10px;
  height: 50px;
  width: 50px;
  background: #EAEBEC;
  -webkit-animation-duration: 400ms;
          animation-duration: 400ms;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}
.dog-ear:first-child {
  border-bottom-left-radius: 80%;
  border-top-right-radius: 80%;
  right: 100%;
  box-shadow: inset -15px 15px 0 1px white;
  transform-origin: right bottom;
  transform: rotate(10deg);
}
.dog-ear:last-child {
  border-top-left-radius: 80%;
  border-bottom-right-radius: 80%;
  left: 100%;
  box-shadow: inset 15px 15px 0 0 white;
  transform-origin: left bottom;
  transform: rotate(-10deg);
}

.dog-tail {
  width: 22px;
  height: 24.2px;
  background: white;
  bottom: 40%;
  border-radius: 11px;
  left: calc(50% - 11px);
  transform-origin: center bottom;
}
.dog-tail .dog-tail {
  -webkit-animation: dog-tail-segment 200ms ease-in-out infinite alternate;
          animation: dog-tail-segment 200ms ease-in-out infinite alternate;
}
@-webkit-keyframes dog-tail-segment {
  from {
    transform: rotate(-10deg);
  }
  to {
    transform: rotate(10deg);
  }
}
@keyframes dog-tail-segment {
  from {
    transform: rotate(-10deg);
  }
  to {
    transform: rotate(10deg);
  }
}

.dog-body > .dog-tail {
  bottom: 90%;
  -webkit-animation: dog-tail 200ms ease-in-out infinite alternate;
          animation: dog-tail 200ms ease-in-out infinite alternate;
}
@-webkit-keyframes dog-tail {
  from {
    transform: rotate(-45deg);
  }
  to {
    transform: rotate(45deg);
  }
}
@keyframes dog-tail {
  from {
    transform: rotate(-45deg);
  }
  to {
    transform: rotate(45deg);
  }
}

.dog-body,
.dog-torso,
.dog-head {
  border-radius: 50%;
  background: white;
  position: absolute;
  height: 100%;
  width: 100%;
}

.dog-body, .dog-torso {
  box-shadow: inset 0 -15px 0 0 #EAEBEC;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

html, body {
  background: #FFE16E;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
  position: relative;
}

:root {
  --space-color: #0f2437;
  --earth-water-color: #2276bc;
  --earth-land-color: #65c547;
  --earth-cloud-color: #FFF;
  --earth-rotation: 20000ms;
  --cloud-rotation: 30000ms;
  
  --moon-color: #e6e8d2;
}

.canvasbody {
  background-color: var(--space-color);
  background-image:
radial-gradient(#544ae4, rgba(36, 23, 240, .2) 2px, transparent 10px),
radial-gradient(#544ae4, rgba(36, 23, 240, .15) 1px, transparent 5px),
radial-gradient(#544ae4, rgba(36, 23, 240, .1) 2px, transparent 10px),
radial-gradient(rgba(36, 23, 240, .4), rgba(36, 23, 240, .1) 2px, transparent 5px);
background-size: 550px 550px, 350px 350px, 250px 250px, 150px 150px; 
background-position: 0 0, 40px 60px, 130px 270px, 70px 100px;
}

.canvas {
  position: relative;
  display: block;
  margin: auto;
  margin-top: 2%;
  width: 600px;
  height: 420px;
/*   border: 5px dashed #EFF8FF; */
  border-radius: 5px;
  background: none;
}

.stars {
  height: 500px;
  width: 100%;
background-color:black;
background-image:
radial-gradient(white, rgba(255,255,255,.2) 2px, transparent 40px),
radial-gradient(white, rgba(255,255,255,.15) 1px, transparent 30px),
radial-gradient(white, rgba(255,255,255,.1) 2px, transparent 40px),
radial-gradient(rgba(255,255,255,.4), rgba(255,255,255,.1) 2px, transparent 30px);
background-size: 550px 550px, 350px 350px, 250px 250px, 150px 150px; 
background-position: 0 0, 40px 60px, 130px 270px, 70px 100px;
}

/* Earth */

.earth {
  position: absolute;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: var(--earth-water-color);
  top: 110px;
  left: 200px;
  overflow: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: rotate(15deg);
  z-index: 10;
}

.earth:after {
  content: '';
  position: absolute;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  box-shadow: inset -50px -25px rgba(0,0,0,0.2);
}

 .shine {
   position: absolute;
   background-color: transparent;
   width: 100px;
   height: 100px;
   border: 20px solid #FFF;
   border-radius: 50%;
   border-top: solid 20px transparent;
   border-right: solid 20px transparent;
   border-bottom: solid 20px transparent; 
   transform: rotate(45deg);
   opacity: .3;
   left: 215px;
   top: 130px;
   z-index: 12;
}

.shine::after {
  content: '';
  position: absolute;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: transparent;
  box-shadow: 22px -3px 0px #FFF, 21px 82px 0px #FFF;
  left: -24px;
}

.land {
  position: absolute;
  background-color: var(--earth-land-color);
  border-radius: 20px;
}

.land-big {
  position: absolute;
  background-color: var(--earth-land-color);
  border-radius: 16px;
}

.land-join {
  position: absolute;
  background-color: var(--earth-land-color);
  height: 10px;
  width: 30px;
}

.cloud {
  position: absolute;
  background-color: var(--earth-cloud-color);
  border-radius: 20px;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.10);
}

.land-join::before {
  content: '';
  position: absolute;
  left: -5px;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background: var(--earth-water-color);
  box-shadow: 30px 0px 0px var(--earth-water-color);
}

/* Animate the land */

@keyframes earth-rotation-a-start {
  0% {
    transform: translate(0px);
  }
  100% {
    transform: translate(250px);
  }
}

@keyframes earth-rotation-a-loop {
  0% {
    transform: translate(-200px);
  }
  
  100% {
    transform: translate(250px);
  }
}

@keyframes earth-rotation-ce-start {
  0% {
    transform: translate(0px);
  }
 
  100% {
    transform: translate(150px);
  }
}

@keyframes earth-rotation-ce-loop {
  0% {
    transform: translate(-350px);
  }
 
  100% {
    transform: translate(100px);
  }
}

/* Animate the cloud */

@keyframes earth-rotation-cla-start {
  0% {
    transform: translate(0px);
  }
  100% {
    transform: translate(250px);
  }
}

@keyframes earth-rotation-cla-loop {
  0% {
    transform: translate(-150px);
  }
  
  100% {
    transform: translate(250px);
  }
}

@keyframes earth-rotation-cle-start {
  0% {
    transform: translate(0px);
  }
  100% {
    transform: translate(100px);
  }
}

@keyframes earth-rotation-cle-loop {
  0% {
    transform: translate(-200px);
  }
  
  100% {
    transform: translate(150px);
  }
}

/*  Big land NA */

.land-big.na {
  top: 30px;
  left: -30px;
  animation-name: earth-rotation-a-start, earth-rotation-a-loop;
  animation-duration: 13000ms, var(--earth-rotation);
  animation-timing-function: linear;
  animation-delay: 0s, 13000ms;
  animation-iteration-count: 1, infinite;
}

.land-big.na > .land-join {
  top: 25px;
  left: 37px;
}

.na > .l-1 {
  left: -30px;
  height: 25px;
  width: 130px;
}

.na > .l-2 {
  top: 35px;
  height: 35px;
  width: 80px;
}

/* Big land SA */

.land-big.sa {
  top: 120px;
  animation-name: earth-rotation-a-start, earth-rotation-a-loop;
  animation-duration: 13000ms, var(--earth-rotation);
  animation-timing-function: linear;
  animation-delay: 0s, 13000ms;
  animation-iteration-count: 1, infinite;
}

.land-big.sa > .land-join {
  top: 25px;
  left: 20px;
}

.sa > .l-1 {
  height: 25px;
  width: 80px;
}

.sa > .l-2 {
  top: 35px;
  height: 20px;
  width: 110px;
}

/* Big land A */

.land-big.a {
  top: 100px;
  left: 109px;
animation-name: earth-rotation-ce-start, earth-rotation-ce-loop;
  animation-duration: 8000ms, var(--earth-rotation);
  animation-timing-function: linear;
  animation-delay: 0s, 5200ms;
  animation-iteration-count: 1, infinite;
}

.land-big.a > .land-join {
  top: 35px;
  left: 45px;
}

.a > .l-1 {
  height: 35px;
  width: 90px;
}

.a > .l-2 {
  top: 45px;
  left: 35px;
  height: 20px;
  width: 50px;
}

/* Big land CE */

.land-big.ce {
  top: 50px;
  left: 100px;
  animation-name: earth-rotation-ce-start, earth-rotation-ce-loop;
  animation-duration: 8000ms, var(--earth-rotation);
  animation-timing-function: linear;
  animation-delay: 0s, 5200ms;
  animation-iteration-count: 1, infinite;
}

.land-big.ce > .land-join {
  top: 40px;
  left: 135px;
}

.land-big.ce > .land-join.j-2 {
  top: -10px;
  left: 105px;
}

.ce > .l-1 {
  height: 40px;
  width: 185px;
}

.ce > .l-2 {
  top: 50px;
  left: 120px;
  height: 30px;
  width: 90px;
}

.ce > .l-3 {
  top: -30px;
  left: 90px;
  height: 20px;
  width: 80px;
}

/* Set of smaller lands */

.land.ne {
  top: 25px;
  left: 95px;
  height: 15px;
  width: 40px;
  animation-name: earth-rotation-ce-start, earth-rotation-ce-loop;
  animation-duration: 8000ms, var(--earth-rotation);
  animation-timing-function: linear;
  animation-delay: 0s, 5200ms;
  animation-iteration-count: 1, infinite;
}

.land.au {
  top: 140px;
  left: 270px;
  height: 30px;
  width: 60px;
  animation-name: earth-rotation-ce-start, earth-rotation-ce-loop;
  animation-duration: 8000ms, var(--earth-rotation);
  animation-timing-function: linear;
  animation-delay: 0s, 5200ms;
  animation-iteration-count: 1, infinite;
}

.land.np{
  background-color: #d0e2ee;
  height: 15px;
  width: 80px;
  top: -3px;
  left: 60px;
}

.land.sp{
  background-color: #d0e2ee;
  height: 15px;
  width: 100px;
  top: 190px;
  left: 50px;
}

/* Set of cloud */

.cloud.c1, .cloud.c2, .cloud.c3, .cloud.c4  {
  height: 13px;
  width: 30px;
}

.cloud.c5, .cloud.c6 {
  height: 22px;
  width: 63px;
}

.cloud.c7, .cloud.c8  {
  height: 22px;
  width: 63px;
}

.cloud.c1 {
  top: 35px;
}

.cloud.c2 {
  top: 85px;
  left: -50px;
}

.cloud.c3 {
  top: 100px;
  left: 120px;
}

.cloud.c4 {
  top: 150px;
  left: 160px;
}

.cloud.c5 {
  top: 45px;
  left: 10px;
}

.cloud.c6 {
  top: 115px;
  left: -30px;
}

.cloud.c7 {
  top: 30px;
  left: 120px;
}

.cloud.c8 {
  top: 160px;
  left: 160px;
}

.cloud.c1, .cloud.c2 {
  animation-name: earth-rotation-cla-start, earth-rotation-cla-loop;
  animation-duration: 28000ms, var(--cloud-rotation);
  animation-timing-function: linear;
  animation-delay: 0s, 28000ms;
  animation-iteration-count: 1, infinite;
}

.cloud.c3, .cloud.c4 {
  animation-name: earth-rotation-cle-start, earth-rotation-cle-loop;
  animation-duration: 10000ms, var(--cloud-rotation);
  animation-timing-function: linear;
  animation-delay: 0s, 10000ms;
  animation-iteration-count: 1, infinite;
}

.cloud.c5, .cloud.c6 {
  animation-name: earth-rotation-cla-start, earth-rotation-cla-loop;
  animation-duration: 20000ms, var(--cloud-rotation);
  animation-timing-function: linear;
  animation-delay: 0s, 20000ms;
  animation-iteration-count: 1, infinite;
}

.cloud.c7, .cloud.c8 {
  animation-name: earth-rotation-cle-start, earth-rotation-cle-loop;
  animation-duration: 10000ms, var(--cloud-rotation);
  animation-timing-function: linear;
  animation-delay: 0s, 10000ms;
  animation-iteration-count: 1, infinite;
}

/* Moon */

.moon {
  position: absolute;
  height: 75px;
  width: 75px;
  border-radius: 50%;
  background-color: var(--moon-color);
  transform: scaleX(0.33) translateZ(0);
}

.moon:after {
  content: '';
  position: absolute;
  height: 75px;
  width: 75px;
  border-radius: 50%;
  box-shadow: inset -10px -5px rgba(0,0,0,0.2);
}

.crater {
  position: absolute;
  border-radius: 50%;
  background-color: #d6d8b9;
  box-shadow: inset 2px 1px rgba(0,0,0,0.2), 1px 0px rgba(196,207,207);
}

/*  Set of Craters */

.crater.c1 {
  top: 20px;
  left: 13px;
  height: 15px;
  width: 15px;
}

.crater.c2 {
  top: 40px;
  left: 40px;
  height: 20px;
  width: 20px;
}

.crater.c3 {
  top: 15px;
  left: 40px;
  height: 10px;
  width: 10px;
}

.crater.c4 {
  top: 45px;
  left: 20px;
  height: 8px;
  width: 8px;
}

.ellipsis  {
  width: 150px;
  height: 150px;
  transform: scaleX(3);
  top: 110px;
  left: 210px;
  position: absolute;
  animation: moon-depth 25s infinite linear;
}

.rotate-moon {
  width: 100%;
  height: 100%;
  animation: rotation 25s infinite linear;    
  transform-origin: 50% 50%;
}

.counter-rotate-moon {
  width: 50px;
  height: 50px;
  animation: counter-rotation 25s infinite linear;    
}

@keyframes moon-depth {
  0% {
    z-index: 9;
  }
  80%{
    z-index: 11;
  }
  100%{
    z-index: 9;
  }
}

@keyframes rotation {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}

@keyframes counter-rotation {
  0% {
    transform: rotateZ(360deg);
  }
  100% {
    transform: rotateZ(0deg);
  }
}